<div class="container-fluid">
  <h1 class="heading h2 text-center my-3">Welcome to SellYourStuff</h1>
</div>
<div id="carouselCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/Beige Brown Minimalist Professional Fashion Collection Facebook Cover.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Discover Unique Products</h5>
        <p>Image by <a href="https://www.canva.com/p/designsformakers/?utm_medium=referral&utm_source=creator_share&utm_campaign=creator_share">Designs for makers</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/Black Gold Minimalist Black Friday Sale Facebook Cover.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sell Your Creations"</h5>
        <p>Image by <a href="https://www.canva.com/p/canvacreativestudio/?utm_medium=referral&utm_source=creator_share&utm_campaign=creator_share">Canva Creative Studio</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/Grey Black and White Bold Modern Men's Fashion Sale Facebook Cover.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Support Small Businesses</h5>
        <p>Image by <a href="https://www.canva.com/p/canvacreativestudio/?utm_medium=referral&utm_source=creator_share&utm_campaign=creator_share">Canva Creative Studio</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5" style="margin-bottom: 100px;">
  <h2>About SellYourStuff</h2>
  <p>Welcome to SellYourStuff, your premier platform for adding and discovering custom products. Whether you're looking to sell unique items or find one-of-a-kind products, we have something for everyone. Explore our diverse range of custom products and find the perfect items that fit your needs and style.</p>
</div>


<div class="container marketing" style="margin-bottom: 100px;">

 
  <div class="row">
    <div class="col-lg-4">
      <img src="img/easy.png" class="rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Easy to Use</h2>
      <p>Our platform is designed for ease of use, whether you're buying or selling. Get started in just a few clicks.</p>
      <p><a class="btn btn-primary" href="#">Learn More &raquo;</a></p>
    <div class="col-lg-4">
      <img src="img/variety-120.png"  class="rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Wide Variety</h2>
      <p>Discover a wide variety of products, from handmade crafts to cutting-edge gadgets. There's something for everyone.</p>
      <p><a class="btn btn-primary" href="#">Explore Products &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img src="img/safety-120.png"  class="rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Safe & Secure</h2>
      <p>Your security is our priority. Shop and sell with confidence knowing your transactions are protected.</p>
      <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">A World of Creativity. <span class='text-body-secondary'>Unleash Yours.</span></h2>
      <p class="lead">Join a community of creators and entrepreneurs. Whether you're a buyer or a seller, you're part of something bigger.</p>
    </div>
    <div class="col-md-5">
      <img src="img/art-1840481_640.jpg" class="featurette-image img-fluid mx-auto" width="500" height="500">
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Your Shop, Your Rules. <span class='text-body-secondary'>Customize Your Experience.</span></h2>
      <p class="lead">Our platform gives you the tools you need to set up your shop, manage products, and reach customers worldwide.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="img/bag-17953_1280.jpg" class="featurette-image img-fluid mx-auto" width="500" height="500">
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Customer Satisfaction First. <span class='text-body-secondary'>Shop with Confidence.</span></h2>
      <p class="lead">AWe prioritize customer satisfaction, offering support every step of the way. Shop knowing we’ve got your back.</p>
    </div>
    <div class="col-md-5">
      <img src="img/delivery-5585969_640.jpg" class="featurette-image img-fluid mx-auto" width="500" height="500">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>

 