<nav class="navbar navbar-expand-lg bg-primary justify-content-center"  data-bs-theme="dark">
  <a class="navbar-brand" route="/" style="padding-left: 15px;">SellYourStuff</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">          
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" route="/">Home</a>
        <a class="nav-link" route="add">Add Products</a>
        <a class="nav-link" route="list">Show Products</a>
        <a class="nav-link" route="contact">Contact</a>
        <a class="nav-link" route="about">About</a>
      </div>
    </div>
  </div>
</nav>