<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">       
  <div class="copyright text-center p-3 text-bg-dark">   
    © <%= currentYear %> Copyright <br> João Pedro da Cruz Nobre, inc      
  </div>        
</footer> 