<footer class="bg-primary text-center text-lg-start fixed-bottom">       
  <div class="copyright text-center p-3 text-bg-primary ">   
    © <%= currentYear %> Copyright <br> João Pedro da Cruz Nobre, inc      
  </div>        
</footer> 