<div class="container-fluid">
  <h1 class="heading h2 text-center my-2">About</h1>
</div>
<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Who am I?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">            
          <img src="img/PedroPic.jpg" height="250px"><br>       
          <p class="acc-body-txt">Hello! My name is João Pedro da Cruz Nobre, and I'm 30 years old. I'm a recent graduate of computer programming, transitioning into the exciting world of web development. As a front-end enthusiast, I am passionate about creating engaging and user-friendly web interfaces. In my free time, I enjoy spending time with my beloved cats. Looking forward to connecting with fellow tech enthusiasts and learning more in this new field!</p>          </div>
      </div>
    </div>
    <div class="accordion-item" style="margin-bottom: 100px;">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What I am Looking for.
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          I am now looking for employment that call for expertise on Web Development. With an emphasis on front-end development, I am especially drawn to jobs that will push me and help me advance my career. I am excited to apply my abilities in creative, fast-paced settings where I can support the development of outstanding user experiences. My objective is to keep learning and developing so that I can contribute significantly to the projects and teams I work on.
        </div>
      </div>
    </div>      
  </div>
</div>